@(employees:scala.collection.mutable.ListBuffer[model.Employee])

@main("Employees") {
<section>
    <div>
        Employees -
        @if(employees != null){
        <ul>
            @employees.map{ emp =>
            <li>@emp.name</li>
            <a href="@routes.EmployeeController.editEmployee(emp.name)">edit</a>
            <br/>
            <a href="@routes.EmployeeController.deleteEmployee(emp.name)">delete</a>
            }
        </ul>
        }
    </div>
    <div>
        <a href="@routes.EmployeeController.createEmployeeForm()">create</a>
        <br/>
        <a href="@routes.DashboardController.getDashboardDetails()">dashboard</a>
    </div>
</section>
}